<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="/static/jqGrid/themes/redmond/jquery-ui-1.8.2.custom.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/jqGrid/themes/ui.jqgrid.css" />
</head>
<body>
<h6 style='color:red'>*产品管理平台数据与天天基金网数据差异的地方用红色标注了</h6>
<h6 style='color:red'>*符号"|"左边为产品管理平台数据，后面为天天基金网数据</h6>
<a id="export" href="javascript:void(0);">导出</a>
<table id="list2"></table>
<script src="/static/jqGrid/js/jquery-1.7.2.min.js"></script>
<script src="/static/jqGrid/js/jquery.jqGrid.min.js"></script>
<script>
    $(document).ready(function(){
      jQuery("#list2").jqGrid(
      {
        datatype : "local",
        multiselect: false,
        colNames : [ '产品名称','基金代码', '是否是ETF', '是否是LOF', '是否是QDII','是否保本型','产品是否分级','分级份额占比','投资策略','投资经理','交易币种','投资范围','业绩比较基准','管理费率','托管费率','托管人','最低定投金额'],
        colModel : [
            {name : 'productname',index : 'productname',width : 55},
            {name : 'seccode',index : 'seccode',width : 55},
            {name : 'isETF',index : 'isETF',width : 90},
            {name : 'isLOF',index : 'isLOF',width : 100},
            {name : 'isQDII',index : 'isQDII',width : 80},
            {name : 'isBreakeven',index : 'isBreakeven',width : 80},
            {name : 'isLevel',index : 'isLevel',width : 80},
            {name : 'gradingMechanism',index : 'gradingMechanism',width : 80},
            {name : 'investmentStrategy',index : 'investmentStrategy',width : 80},
            {name : 'managerName',index : 'managerName',width : 80},
            {name : 'moneyType',index : 'moneyType',width : 80},
            {name : 'investmentScope',index : 'investmentScope',width : 80},
            {name : 'performanceBenchmark',index : 'performanceBenchmark',width : 80},
            {name : 'manageFee',index : 'manageFee',width : 80},
            {name : 'trustFee',index : 'trustFee',width : 80},
            {name : 'custodian',index : 'custodian',width : 80},
            {name : 'minSubscribeAmount',index : 'minSubscribeAmount',width : 80}
        ],
        loadComplete: function(xhr) {
            //updateData();
        },
        autowidth: false,
        height: '100%',
        rowNum: 150
      });

      $.ajax({
        type: "get",
        url: "queryFundDiff",
        dataType: "json",
        success: function (response) {
            for (var i = 0; i < response.length; i++) {
                jQuery("#list2").jqGrid('addRowData', i + 1, response[i]);
	    //$("#" + (i + 1)).css("background-color","#F4D7C9");F4D7C9
            } 
	    //$("#list2 td:contains('|')").css("color","red");
        }
    });
    //$("#export").bind('click',function(){
//	$(this).attr("href","export");
//	setTimeout(function(){
//	    $(me).attr("href","javascript:void(0);");
//	},100);
//})
});
</script>
</body>
</html>


