<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="/static/jqGrid/themes/redmond/jquery-ui-1.8.2.custom.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/jqGrid/themes/ui.jqgrid.css" />
</head>
<body>
<h6 style='color:red'>*产品管理平台数据与天天基金网数据差异的地方用红色标注了</h6>
<h6 style='color:red'>*符号"|"左边为产品管理平台数据，后面为天天基金网数据</h6>
<a id="export" href="javascript:void(0);">导出</a>
<table id="list2"></table>
<script src="/static/jqGrid/js/jquery-1.7.2.min.js"></script>
<script src="/static/jqGrid/js/jquery.jqGrid.min.js"></script>
<script>
    $(document).ready(function(){
      jQuery("#list2").jqGrid(
      {
        datatype : "local",
        multiselect: false,
        colNames : [ '交易代码','单位净值', '累计净值', '管理费率', '托管费率'],
        colModel : [ 
            {name : 'seccode',index : 'seccode',width : 55}, 
            {name : 'unitnv',index : 'unitnv',width : 90}, 
            {name : 'accumulatedUnitnv',index : 'accumulatedUnitnv',width : 100}, 
            {name : 'manageFee',index : 'manageFee',width : 80}, 
            {name : 'trustFee',index : 'trustFee',width : 80}
        ],
        loadComplete: function(xhr) {
            //updateData();
        },
        autowidth: false,
        height: '100%',
        rowNum: 150
      });

      $.ajax({
        type: "get",
        url: "queryDiff",
        dataType: "json",
        success: function (response) {
	    var type = ["trustFee","manageFee","accumulatedUnitnv","unitnv"]
            for (var i = 0; i < response.length; i++) {
                if( !response[i].fromProdma && response[i].fromEastmoney){
                    jQuery("#list2").jqGrid('addRowData', i + 1, response[i].fromEastmoney);
                    $("#" + (i + 1)).css("background-color","#F4D7C9");
                } else if (response[i].fromProdma && !response[i].fromEastmoney){
                    jQuery("#list2").jqGrid('addRowData', i + 1, response[i].fromProdma);
                    $("#" + (i + 1)).css("background-color","#F4D7C9");
                } else {
                    var record = response[i]["fromProdma"];
                    for(var j = 0; j<type.length;j++){
                        if(response[i]["fromProdma"][type[j]] != response[i]["fromEastmoney"][type[j]]){
                            record[type[j]] = record[type[j]] + " | " + response[i]["fromEastmoney"][type[j]];
                        }
                    }
                    jQuery("#list2").jqGrid('addRowData', i + 1, record);
		    //$("#" + (i + 1)).css("background-color","#F4D7C9");
                }
            } 
	    $("#list2 td:contains('|')").css("color","red");
        }
    });
    $("#export").bind('click',function(){
	$(this).attr("href","export");
	setTimeout(function(){
	    $(me).attr("href","javascript:void(0);");
	},100);
})
});
</script>
</body>
</html>


